<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new chat</title>
  </head>
  <body>
    <h1>Creating a new chat</h1>
    <form method="post" action="/chats">
      <input name="from" placeholder="who are you" /> <br><br>
      <textarea placeholder="enter your Message" name="msg"></textarea><br><br>
      <input name="to" placeholder="who is the receiver" />
      <button>Submit</button>
    </form>
  </body>
</html>
